language: android
jdk:
 - oraclejdk7
android:
  components:
    - build-tools-23.0.1
    - android-23
    - extra-android-m2repository
  licenses:
    - '.+'
    
script:
 - chmod +x gradlew && ./gradlew test